/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color:#032408 ;
}

h1 {
    font-size: 52px;
    color: #ffffff;
    padding: 50px 0 50px;
}

h2 {
    font-size: 10px;
    text-align: center;
}

header {
    height:150px;
    width:98%;  
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 98%;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(27, 100, 27);
    color: whitesmoke;
}

header img {
    width: 300px;
    height: 350px;
    float: right;
    position: relative;
    right: 50px;
}

footer {
    font-size: 18px;
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
    width:98%;  
}

.subtitle {
    font-size: 8px;
    text-align: left;
    border-bottom: 1.5px solid #032408;
    float: left;
    left: 45px;
    position: relative;
}

nav {
    left:45px;
    position: relative;
}

.lastupdated {
    font-size: 16px;
}