
body {
    position: relative;
    background-color: #EAEBED;
    font-size: 16px;
}

table {
	margin: 2rem auto;
	border: solid 2.5px rgb(172, 160, 160);
	box-shadow: 7px 7px 7px 5px;
	font-size: 1rem;
	border-collapse: collapse;
}

thead tr:first-child th {
	color: black;
	background-color: rgb(38, 144, 151);
	padding: .85rem;
	font-size: 2.2rem;
}

thead tr:nth-child(2) th {
	background-color: rgb(90, 131, 179);
	color: white;
	padding: .85rem;
	border: solid 1px gray;
}
tbody th {
	font-weight: 400;
}
tbody th, td {
	margin: 0;
	padding: .5rem;
	border: 1px solid gray;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: rgb(73, 221, 189);
}
tbody tr:nth-child(odd) {
	background-color: rgb(166, 167, 166);
}
tbody tr:nth-child(4) td:nth-child(3) {
	background-color: rgb(72, 102, 136);
	color: white;
}
tbody tr:nth-child(5) th {
	font-style: italic;
}
tfoot th {
	font-size: .85rem;
	font-weight: 600;
	background-color: rgb(38, 144, 151);
	padding: .5rem;
}